In [1]:
sc

In [5]:
spark

In [2]:
people_df = spark.read.json("file:///home/hadoop/Downloads/People.json")

In [3]:
people_df.head(5)

[Row(city='Mulyosari', country='Indonesia', first_name='Valma', gender='Female', id=1, last_name='Sans', salary=983107),
 Row(city='Niihama', country='Japan', first_name='Paolo', gender='Male', id=2, last_name='Kiddie', salary=649173),
 Row(city='Dū Qal‘ah', country='Afghanistan', first_name='Miltie', gender='Male', id=3, last_name='De Zuani', salary=352898),
 Row(city='Iberia', country='Peru', first_name='Jarrid', gender='Male', id=4, last_name='Dalziell', salary=170398),
 Row(city='La Ronge', country='Canada', first_name='Reinaldos', gender='Male', id=5, last_name='Keeffe', salary=440989)]

In [4]:
people_df.show()

+------------------+------------+----------+------+---+---------+------+
|              city|     country|first_name|gender| id|last_name|salary|
+------------------+------------+----------+------+---+---------+------+
|         Mulyosari|   Indonesia|     Valma|Female|  1|     Sans|983107|
|           Niihama|       Japan|     Paolo|  Male|  2|   Kiddie|649173|
|         Dū Qal‘ah| Afghanistan|    Miltie|  Male|  3| De Zuani|352898|
|            Iberia|        Peru|    Jarrid|  Male|  4| Dalziell|170398|
|          La Ronge|      Canada| Reinaldos|  Male|  5|   Keeffe|440989|
|      Kuala Lumpur|    Malaysia|        Eb|  Male|  6|Schwanden|274126|
|         Al Qurayn|Saudi Arabia|    Alleyn|  Male|  7|   Paddon|681914|
|           Jixiang|       China|   Baryram|  Male|  8|     Yell|250748|
|Thị Trấn Phong Thổ|     Vietnam|     Cammy|Female|  9|     Axel|221750|
|        Kotatengah|   Indonesia|       Erl|  Male| 10|  Caldera|680801|
|        Roldanillo|    Colombia|    Miguel|  Male| 11|   Moules|819771|
|            Malārd|        Iran| Mireielle|Female| 12|   Hurley|486029|
|     Fada N'gourma|Burkina Faso|    Feodor|  Male| 13| Grummitt|358045|
|           Ciangir|   Indonesia|     Diana|Female| 14|  Lawfull|397683|
|         El Cantón|   Venezuela|      Evie|Female| 15|   Kaysor|436202|
|          La Unión|    Colombia|    Janean|Female| 16|    Sayse|892405|
|            Xinhua|       China|     Colan|  Male| 17|   Stoppe|218434|
|     Крива Паланка|   Macedonia|      Erik|  Male| 18| Stitcher|776023|
|          Qīr Moāv|      Jordan|   Sargent|  Male| 19|   Cleall|819269|
|      Bogandinskiy|      Russia|   Tamqrah|Female| 20|Millichip|313540|
+------------------+------------+----------+------+---+---------+------+
only showing top 20 rows

In [6]:
bank_df = spark.read.json("file:///home/hadoop/Downloads/bank_edited.json",multiLine=True)
bank_df.head(5)

[Row(age=58, balance=2143, campaign=1, contact='unknown', day=5, default='no', duration=261, education='tertiary', housing='yes', job='management', loan='no', marital='married', month='may', pdays=-1, poutcome='unknown', previous=0, y='no'),
 Row(age=44, balance=29, campaign=1, contact='unknown', day=5, default='no', duration=151, education='secondary', housing='yes', job='technician', loan='no', marital='single', month='may', pdays=-1, poutcome='unknown', previous=0, y='no'),
 Row(age=33, balance=2, campaign=1, contact='unknown', day=5, default='no', duration=76, education='secondary', housing='yes', job='entrepreneur', loan='yes', marital='married', month='may', pdays=-1, poutcome='unknown', previous=0, y='no'),
 Row(age=47, balance=1506, campaign=1, contact='unknown', day=5, default='no', duration=92, education='unknown', housing='yes', job='blue-collar', loan='no', marital='married', month='may', pdays=-1, poutcome='unknown', previous=0, y='no'),
 Row(age=33, balance=1, campaign=1, contact='unknown', day=5, default='no', duration=198, education='unknown', housing='no', job='unknown', loan='no', marital='single', month='may', pdays=-1, poutcome='unknown', previous=0, y='no')]

In [7]:
bank_df.show()

+---+-------+--------+-------+---+-------+--------+---------+-------+------------+----+--------+-----+-----+--------+--------+---+
|age|balance|campaign|contact|day|default|duration|education|housing|         job|loan| marital|month|pdays|poutcome|previous|  y|
+---+-------+--------+-------+---+-------+--------+---------+-------+------------+----+--------+-----+-----+--------+--------+---+
| 58|   2143|       1|unknown|  5|     no|     261| tertiary|    yes|  management|  no| married|  may|   -1| unknown|       0| no|
| 44|     29|       1|unknown|  5|     no|     151|secondary|    yes|  technician|  no|  single|  may|   -1| unknown|       0| no|
| 33|      2|       1|unknown|  5|     no|      76|secondary|    yes|entrepreneur| yes| married|  may|   -1| unknown|       0| no|
| 47|   1506|       1|unknown|  5|     no|      92|  unknown|    yes| blue-collar|  no| married|  may|   -1| unknown|       0| no|
| 33|      1|       1|unknown|  5|     no|     198|  unknown|     no|     unknown|  no|  single|  may|   -1| unknown|       0| no|
| 35|    231|       1|unknown|  5|     no|     139| tertiary|    yes|  management|  no| married|  may|   -1| unknown|       0| no|
| 28|    447|       1|unknown|  5|     no|     217| tertiary|    yes|  management| yes|  single|  may|   -1| unknown|       0| no|
| 42|      2|       1|unknown|  5|    yes|     380| tertiary|    yes|entrepreneur|  no|divorced|  may|   -1| unknown|       0| no|
| 58|    121|       1|unknown|  5|     no|      50|  primary|    yes|     retired|  no| married|  may|   -1| unknown|       0| no|
| 43|    593|       1|unknown|  5|     no|      55|secondary|    yes|  technician|  no|  single|  may|   -1| unknown|       0| no|
| 41|    270|       1|unknown|  5|     no|     222|secondary|    yes|      admin.|  no|divorced|  may|   -1| unknown|       0| no|
| 29|    390|       1|unknown|  5|     no|     137|secondary|    yes|      admin.|  no|  single|  may|   -1| unknown|       0| no|
| 53|      6|       1|unknown|  5|     no|     517|secondary|    yes|  technician|  no| married|  may|   -1| unknown|       0| no|
| 58|     71|       1|unknown|  5|     no|      71|  unknown|    yes|  technician|  no| married|  may|   -1| unknown|       0| no|
| 57|    162|       1|unknown|  5|     no|     174|secondary|    yes|    services|  no| married|  may|   -1| unknown|       0| no|
| 51|    229|       1|unknown|  5|     no|     353|  primary|    yes|     retired|  no| married|  may|   -1| unknown|       0| no|
| 45|     13|       1|unknown|  5|     no|      98|  unknown|    yes|      admin.|  no|  single|  may|   -1| unknown|       0| no|
| 57|     52|       1|unknown|  5|     no|      38|  primary|    yes| blue-collar|  no| married|  may|   -1| unknown|       0| no|
| 60|     60|       1|unknown|  5|     no|     219|  primary|    yes|     retired|  no| married|  may|   -1| unknown|       0| no|
| 33|      0|       1|unknown|  5|     no|      54|secondary|    yes|    services|  no| married|  may|   -1| unknown|       0| no|
+---+-------+--------+-------+---+-------+--------+---------+-------+------------+----+--------+-----+-----+--------+--------+---+
only showing top 20 rows

In [8]:
bank_df.printSchema()

root
 |-- age: long (nullable = true)
 |-- balance: long (nullable = true)
 |-- campaign: long (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: long (nullable = true)
 |-- default: string (nullable = true)
 |-- duration: long (nullable = true)
 |-- education: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- job: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- month: string (nullable = true)
 |-- pdays: long (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- previous: long (nullable = true)
 |-- y: string (nullable = true)

# 1. Create Schema with defined fields in desired order and desired DType

In [9]:
from pyspark.sql.functions import *
#IMPLICITLY U CAN :from pyspark.sql.types import IntegerType, StructType, StringType, FloatType, DoubleType
from pyspark.sql.types import *

In [10]:
schema = StructType([
    StructField("id", IntegerType(),True),
    StructField("first_name", StringType(),True),
    StructField("last_name", StringType(),True),
    StructField("gender", StringType(),True),
    StructField("salary", LongType(),True),
    StructField("city", StringType(),True),
    StructField("country", StringType(),True),
])

In [12]:
peopledf = spark.read.schema(schema).json("file:///home/hadoop/Downloads/People.json")

In [13]:
peopledf.show()

+---+----------+---------+------+------+------------------+------------+
| id|first_name|last_name|gender|salary|              city|     country|
+---+----------+---------+------+------+------------------+------------+
|  1|     Valma|     Sans|Female|983107|         Mulyosari|   Indonesia|
|  2|     Paolo|   Kiddie|  Male|649173|           Niihama|       Japan|
|  3|    Miltie| De Zuani|  Male|352898|         Dū Qal‘ah| Afghanistan|
|  4|    Jarrid| Dalziell|  Male|170398|            Iberia|        Peru|
|  5| Reinaldos|   Keeffe|  Male|440989|          La Ronge|      Canada|
|  6|        Eb|Schwanden|  Male|274126|      Kuala Lumpur|    Malaysia|
|  7|    Alleyn|   Paddon|  Male|681914|         Al Qurayn|Saudi Arabia|
|  8|   Baryram|     Yell|  Male|250748|           Jixiang|       China|
|  9|     Cammy|     Axel|Female|221750|Thị Trấn Phong Thổ|     Vietnam|
| 10|       Erl|  Caldera|  Male|680801|        Kotatengah|   Indonesia|
| 11|    Miguel|   Moules|  Male|819771|        Roldanillo|    Colombia|
| 12| Mireielle|   Hurley|Female|486029|            Malārd|        Iran|
| 13|    Feodor| Grummitt|  Male|358045|     Fada N'gourma|Burkina Faso|
| 14|     Diana|  Lawfull|Female|397683|           Ciangir|   Indonesia|
| 15|      Evie|   Kaysor|Female|436202|         El Cantón|   Venezuela|
| 16|    Janean|    Sayse|Female|892405|          La Unión|    Colombia|
| 17|     Colan|   Stoppe|  Male|218434|            Xinhua|       China|
| 18|      Erik| Stitcher|  Male|776023|     Крива Паланка|   Macedonia|
| 19|   Sargent|   Cleall|  Male|819269|          Qīr Moāv|      Jordan|
| 20|   Tamqrah|Millichip|Female|313540|      Bogandinskiy|      Russia|
+---+----------+---------+------+------+------------------+------------+
only showing top 20 rows

In [14]:
peopledf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)

### 2. With Schema

In [19]:
#here with column will create new column name "new_salary"
peopledf = peopledf.withColumn('new_salary', round(peopledf['salary'] * 1.1))
peopledf.show()

+---+----------+---------+------+------+------------------+------------+----------+
| id|first_name|last_name|gender|salary|              city|     country|new_salary|
+---+----------+---------+------+------+------------------+------------+----------+
|  1|     Valma|     Sans|Female|983107|         Mulyosari|   Indonesia| 1081418.0|
|  2|     Paolo|   Kiddie|  Male|649173|           Niihama|       Japan|  714090.0|
|  3|    Miltie| De Zuani|  Male|352898|         Dū Qal‘ah| Afghanistan|  388188.0|
|  4|    Jarrid| Dalziell|  Male|170398|            Iberia|        Peru|  187438.0|
|  5| Reinaldos|   Keeffe|  Male|440989|          La Ronge|      Canada|  485088.0|
|  6|        Eb|Schwanden|  Male|274126|      Kuala Lumpur|    Malaysia|  301539.0|
|  7|    Alleyn|   Paddon|  Male|681914|         Al Qurayn|Saudi Arabia|  750105.0|
|  8|   Baryram|     Yell|  Male|250748|           Jixiang|       China|  275823.0|
|  9|     Cammy|     Axel|Female|221750|Thị Trấn Phong Thổ|     Vietnam|  243925.0|
| 10|       Erl|  Caldera|  Male|680801|        Kotatengah|   Indonesia|  748881.0|
| 11|    Miguel|   Moules|  Male|819771|        Roldanillo|    Colombia|  901748.0|
| 12| Mireielle|   Hurley|Female|486029|            Malārd|        Iran|  534632.0|
| 13|    Feodor| Grummitt|  Male|358045|     Fada N'gourma|Burkina Faso|  393850.0|
| 14|     Diana|  Lawfull|Female|397683|           Ciangir|   Indonesia|  437451.0|
| 15|      Evie|   Kaysor|Female|436202|         El Cantón|   Venezuela|  479822.0|
| 16|    Janean|    Sayse|Female|892405|          La Unión|    Colombia|  981646.0|
| 17|     Colan|   Stoppe|  Male|218434|            Xinhua|       China|  240277.0|
| 18|      Erik| Stitcher|  Male|776023|     Крива Паланка|   Macedonia|  853625.0|
| 19|   Sargent|   Cleall|  Male|819269|          Qīr Moāv|      Jordan|  901196.0|
| 20|   Tamqrah|Millichip|Female|313540|      Bogandinskiy|      Russia|  344894.0|
+---+----------+---------+------+------+------------------+------------+----------+
only showing top 20 rows

In [20]:
# Limit : displays limited records
peopledf.limit(5).show()

+---+----------+---------+------+------+---------+-----------+----------+
| id|first_name|last_name|gender|salary|     city|    country|new_salary|
+---+----------+---------+------+------+---------+-----------+----------+
|  1|     Valma|     Sans|Female|983107|Mulyosari|  Indonesia| 1081418.0|
|  2|     Paolo|   Kiddie|  Male|649173|  Niihama|      Japan|  714090.0|
|  3|    Miltie| De Zuani|  Male|352898|Dū Qal‘ah|Afghanistan|  388188.0|
|  4|    Jarrid| Dalziell|  Male|170398|   Iberia|       Peru|  187438.0|
|  5| Reinaldos|   Keeffe|  Male|440989| La Ronge|     Canada|  485088.0|
+---+----------+---------+------+------+---------+-----------+----------+

# Random Sampling of data from Sample method

In [23]:
peopledf.sample(withReplacement=False, fraction=0.05, seed = 123).show()

+---+----------+---------+------+------+---------------+--------------+----------+
| id|first_name|last_name|gender|salary|           city|       country|new_salary|
+---+----------+---------+------+------+---------------+--------------+----------+
| 35|  Germayne|  Tremeer|  Male|920086|     eSikhawini|  South Africa| 1012095.0|
| 47|   Olivier|   Shewon|  Male|244655|         Kolaka|     Indonesia|  269121.0|
| 69|Ermentrude|  Teffrey|Female| 96039|          Tiron|     Indonesia|  105643.0|
| 87|  Maryanna|  Petchey|Female|853991|       Subotica|        Serbia|  939390.0|
| 89|     Jayme| Brunotti|Female|881570|        Marston|United Kingdom|  969727.0|
|101|    Fredia| Reinhard|Female|644592|Belén de Umbría|      Colombia|  709051.0|
|138|   Kirstyn| Izkovici|Female|606642|      Jembangan|     Indonesia|  667306.0|
|156| Antonella|    Gaule|Female|856946|         Gunung|     Indonesia|  942641.0|
|168|     Natal|  Eilhart|  Male|921191|       Houxiang|         China| 1013310.0|
|177|    Durand|   Plevin|  Male|151677|          Kinna|        Sweden|  166845.0|
|179|     Bucky|   Engley|  Male|593031|  Ollantaytambo|          Peru|  652334.0|
|211|     Danya|  Simenon|Female|369820|        Gibsons|        Canada|  406802.0|
|230|    Andrea|    Becks|  Male|764222|        Tubajon|   Philippines|  840644.0|
|237|    Tracey|  Klugman|Female|893047|          Choya|        Russia|  982352.0|
|239|    Venita| Lorraway|Female| 72608|       Xinmatou|         China|   79869.0|
|269|      Joel|  Lerwell|  Male|302113|          Jabon|     Indonesia|  332324.0|
|277|    Isiahi| Hartburn|  Male| 35601|       Budapest|       Hungary|   39161.0|
|319|  Raimundo|  Huntley|  Male|221394|      Damatulan|   Philippines|  243533.0|
|322|    Ileana| Valentin|Female|683578|         Dianya|         China|  751936.0|
|323|   Opaline|   Fevier|Female|798573|        Vodnjan|       Croatia|  878430.0|
+---+----------+---------+------+------+---------------+--------------+----------+
only showing top 20 rows

## orderBy() 
    * HELPS ARRANGING DATA IN ASC OR DESC ORDER

In [27]:
peopledf.orderBy(['salary','first_name'],ascending = True).show()

+---+----------+----------+------+------+------------+--------------------+----------+
| id|first_name| last_name|gender|salary|        city|             country|new_salary|
+---+----------+----------+------+------+------------+--------------------+----------+
| 93|      Cory|     Prigg|  Male| 12876|     Gondang|           Indonesia|   14164.0|
|590|      Flem|  Tumielli|  Male| 13347| Debre Zeyit|            Ethiopia|   14682.0|
|192|       Odo|   Conyers|  Male| 15555|  Raffingora|            Zimbabwe|   17111.0|
|407|  Barbabas| Ballingal|  Male| 18598|Beringinjaya|           Indonesia|   20458.0|
|297|     Daron|    Melato|Female| 19881|      Phayao|            Thailand|   21869.0|
| 24|   Avigdor|   Goddman|  Male| 20216|       Gujun|               China|   22238.0|
|315|    Alayne|    Foskin|Female| 20390|     Siluman|           Indonesia|   22429.0|
|199|     Niles| Atcherley|  Male| 22529|Nova Venécia|              Brazil|   24782.0|
|294|     Terri|    Holton|Female| 23934|      Hitura|               Nepal|   26327.0|
|601|    Pattie|Bosomworth|Female| 24967|   Virolahti|             Finland|   27464.0|
|762|     Jesse|   Comfort|  Male| 26213|    Żoliborz|              Poland|   28834.0|
|252|       Gil|  Rochford|  Male| 26950|        Huji|               China|   29645.0|
|837|   Sharity|  Stoffers|Female| 28630|    Zavidovo|              Russia|   31493.0|
|438|    Odelle|  Harefoot|Female| 29177| Cibatuireng|           Indonesia|   32095.0|
|836|     Lenka|  Eddicott|Female| 29374| Trincomalee|           Sri Lanka|   32311.0|
|912|    Jackie|    Baudic|Female| 29540|       Bunia|Democratic Republ...|   32494.0|
|439|     Keith|   Baudain|  Male| 31890| Maszkienice|              Poland|   35079.0|
|356| Raffaello|   Dugdale|  Male| 33082|   San Pedro|         Philippines|   36390.0|
|977|    Kalvin|     Earry|  Male| 34152|   Mariental|             Namibia|   37567.0|
|512|     Bobbe|   Copland|Female| 34435|          Mó|            Portugal|   37879.0|
+---+----------+----------+------+------+------------+--------------------+----------+
only showing top 20 rows

In [26]:
peopledf.orderBy(['first_name','salary'],ascending = True).show()

+---+----------+------------+------+------+---------------+--------------+----------+
| id|first_name|   last_name|gender|salary|           city|       country|new_salary|
+---+----------+------------+------+------+---------------+--------------+----------+
|309|   Abraham|     Deveril|  Male|786521|           Vuka|       Croatia|  865173.0|
|321|   Abrahan|      Huburn|  Male|142463|         Zhu’ao|         China|  156709.0|
|358|  Adelheid|     Shillan|Female| 55912|        Gangjia|         China|   61503.0|
|547|     Adlai|      Bonner|  Male|123753|          Yuwan|         China|  136128.0|
|679|  Adolphus|     Stowers|  Male|215312|         Hrádek|Czech Republic|  236843.0|
|594|  Adrianne|      Badman|Female|222496|        Ganting|         China|  244746.0|
|593|   Adriano|       Fardy|  Male|592691|    San Lorenzo|      Honduras|  651960.0|
|184|    Agatha|      Batson|Female|289574|      Kanashevo|        Russia|  318531.0|
|827|      Aggi|       Ivers|Female|882427|    Ouro Branco|        Brazil|  970670.0|
|776|    Aharon|     Copland|  Male|608413|        Itajubá|        Brazil|  669254.0|
|119|    Ailina|    Karleman|Female|395893|       Traiguén|         Chile|  435482.0|
|602|     Ailis|Bartholomaus|Female|323415|      Xiangshan|         China|  355757.0|
| 77|     Ailyn|      Palmar|Female|984515|   Lonpao Dajah|     Indonesia| 1082967.0|
|980|      Ajay|     Mullord|Female| 35387|     Diamantina|        Brazil|   38926.0|
|794|     Alain|Barrowclough|  Male|675649|      Concordia|     Argentina|  743214.0|
|634|    Alanna|   Markussen|Female|145390|    Três Passos|        Brazil|  159929.0|
|521|  Alasteir|      Raddin|  Male|846475|          Sztum|        Poland|  931123.0|
|315|    Alayne|      Foskin|Female| 20390|        Siluman|     Indonesia|   22429.0|
|463|   Alberta|     Hakking|Female|980691|Cimanggu Girang|     Indonesia| 1078760.0|
|410|   Alberto|     Tribble|  Male|394142|      Vichadero|       Uruguay|  433556.0|
+---+----------+------------+------+------+---------------+--------------+----------+
only showing top 20 rows

In [28]:
peopledf.orderBy(['salary','first_name'],ascendinf = False).show()

+---+----------+----------+------+------+------------+--------------------+----------+
| id|first_name| last_name|gender|salary|        city|             country|new_salary|
+---+----------+----------+------+------+------------+--------------------+----------+
| 93|      Cory|     Prigg|  Male| 12876|     Gondang|           Indonesia|   14164.0|
|590|      Flem|  Tumielli|  Male| 13347| Debre Zeyit|            Ethiopia|   14682.0|
|192|       Odo|   Conyers|  Male| 15555|  Raffingora|            Zimbabwe|   17111.0|
|407|  Barbabas| Ballingal|  Male| 18598|Beringinjaya|           Indonesia|   20458.0|
|297|     Daron|    Melato|Female| 19881|      Phayao|            Thailand|   21869.0|
| 24|   Avigdor|   Goddman|  Male| 20216|       Gujun|               China|   22238.0|
|315|    Alayne|    Foskin|Female| 20390|     Siluman|           Indonesia|   22429.0|
|199|     Niles| Atcherley|  Male| 22529|Nova Venécia|              Brazil|   24782.0|
|294|     Terri|    Holton|Female| 23934|      Hitura|               Nepal|   26327.0|
|601|    Pattie|Bosomworth|Female| 24967|   Virolahti|             Finland|   27464.0|
|762|     Jesse|   Comfort|  Male| 26213|    Żoliborz|              Poland|   28834.0|
|252|       Gil|  Rochford|  Male| 26950|        Huji|               China|   29645.0|
|837|   Sharity|  Stoffers|Female| 28630|    Zavidovo|              Russia|   31493.0|
|438|    Odelle|  Harefoot|Female| 29177| Cibatuireng|           Indonesia|   32095.0|
|836|     Lenka|  Eddicott|Female| 29374| Trincomalee|           Sri Lanka|   32311.0|
|912|    Jackie|    Baudic|Female| 29540|       Bunia|Democratic Republ...|   32494.0|
|439|     Keith|   Baudain|  Male| 31890| Maszkienice|              Poland|   35079.0|
|356| Raffaello|   Dugdale|  Male| 33082|   San Pedro|         Philippines|   36390.0|
|977|    Kalvin|     Earry|  Male| 34152|   Mariental|             Namibia|   37567.0|
|512|     Bobbe|   Copland|Female| 34435|          Mó|            Portugal|   37879.0|
+---+----------+----------+------+------+------------+--------------------+----------+
only showing top 20 rows