### Data Frames

In [3]:
sc

In [4]:
spark

### 1. create new spark instance

In [5]:
sc.stop()
# sc and spark stops

In [7]:
from pyspark import SparkConf,SparkContext
config = SparkConf().setAppName("PysparkSession").setMaster("local[4]")
sc = SparkContext(conf = config)

In [8]:
# Spark Session() - 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('PySparkSession').getOrCreate()

In [11]:
!hdfs dfs -mkdir /flights

In [12]:
!hdfs dfs -put /home/hadoop/Downloads/raw_flight_data.csv /flights/

In [16]:
flights_df = spark.read.csv("/flights/raw_flight_data.csv", inferSchema=True, header = True)
# unless u dont tell there is header it take column name as _c0,_c1 etc 
# now after mentioning header is replaced by column name
#infer schema applies selective datatypes

In [17]:
flights_df.head(5)

[Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=11433, DestAirportID=13303, DepDelay=-3, ArrDelay=1),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=14869, DestAirportID=12478, DepDelay=0, ArrDelay=-8),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=14057, DestAirportID=14869, DepDelay=-4, ArrDelay=-15),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=15016, DestAirportID=11433, DepDelay=28, ArrDelay=24),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=11193, DestAirportID=12892, DepDelay=-6, ArrDelay=-11)]

In [18]:
flights_df.show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [19]:
#1 .select() - Method to select column names
#2 .show() -To show output
flights_df.select(['DayofMonth','Carrier','OriginAirportID','DepDelay']).show()

+----------+-------+---------------+--------+
|DayofMonth|Carrier|OriginAirportID|DepDelay|
+----------+-------+---------------+--------+
|        19|     DL|          11433|      -3|
|        19|     DL|          14869|       0|
|        19|     DL|          14057|      -4|
|        19|     DL|          15016|      28|
|        19|     DL|          11193|      -6|
|        19|     DL|          10397|      -1|
|        19|     DL|          15016|       0|
|        19|     DL|          10397|      15|
|        19|     DL|          10397|      33|
|        19|     DL|          11278|     323|
|        19|     DL|          14107|      -7|
|        19|     DL|          11433|      22|
|        19|     DL|          11298|      40|
|        19|     DL|          11433|      -2|
|        19|     DL|          10397|      71|
|        19|     DL|          12451|      75|
|        19|     DL|          12953|      -1|
|        19|     DL|          11433|      -3|
|        19|     DL|          10397|      31|
|        19|     DL|          13204|       8|
+----------+-------+---------------+--------+
only showing top 20 rows

In [20]:
flights_df.select(['Carrier']).distinct().show()

+-------+
|Carrier|
+-------+
|     UA|
|     AA|
|     EV|
|     B6|
|     DL|
|     OO|
|     F9|
|     YV|
|     US|
|     MQ|
|     HA|
|     AS|
|     FL|
|     VX|
|     WN|
|     9E|
+-------+

In [21]:
#3 .count aggregate method to display count
flights_df.select(['Carrier']).distinct().count()

16

In [22]:
#4 where(): just like filter methodd of rdd with boolean conditions statements
flights_df.where((flights_df.DepDelay > 0) & (flights_df.ArrDelay > 0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [23]:
#5 filter()
flights_df.filter((flights_df.DepDelay > 0) & (flights_df.ArrDelay > 0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [25]:
#6 isin(): filter values by matching pattern used when we have categorical mapping
flights_df.where(flights_df.Carrier.isin('DL','B6','UA')).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [27]:
#Joins
airports_df = spark.read.csv("file:///home/hadoop/Downloads/airports.csv" ,inferSchema=True,header=True)

In [28]:
#7 printSchema() show column name,Data Types of each column and if column is having null values
airports_df.printSchema()

root
 |-- airport_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)

In [29]:
airports_df.show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
|     12523|     Juneau|   AK|Juneau International|
|     12819|  Ketchikan|   AK|Ketchikan Interna...|
|     10245|King Salmon|   AK| King Salmon Airport|
|     10170|     Kodiak|   AK|      Kodiak Airport|
|     13970|   Kotzebue|   AK| Ralph Wien Memorial|
|     13873|       Nome|   AK|        Nome Airport|
|     14256| Petersburg|   AK|Petersburg James ...|
|     14828|      Sitka|   AK|Sitka Rocky Gutie...|
|     12807| St. Mary's|   AK|  St. Mary's Airport|
|     11445|   Unalaska|   AK|    Unalaska Airport|
+----------+-----------+-----+--------------------+
only showing top 20 rows

In [33]:
#8 Join() to join between 2 or more dataframes using a condition
flights_airportDF = flights_df.join(airports_df, flights_df.OriginAirportID == airports_df.airport_id)
flights_airportDF.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|             city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|   Salt Lake City|   UT|Salt Lake City In...|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|         Portland|   OR|Portland Internat...|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|       Cincinnati|   OH|Cincinnati/Northe...|
|        19|        5|     DL|          10397|        15016|      -1|     -19|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          15016|        10397|       0|      -1|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          10397|        14869|      15|      24|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          10397|        10423|      33|      34|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          11278|        10397|     323|     322|     11278|       Washington|   DC|Ronald Reagan Was...|
|        19|        5|     DL|          14107|        13487|      -7|     -13|     14107|          Phoenix|   AZ|Phoenix Sky Harbo...|
|        19|        5|     DL|          11433|        11298|      22|      41|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          11298|        11433|      40|      20|     11298|Dallas/Fort Worth|   TX|Dallas/Fort Worth...|
|        19|        5|     DL|          11433|        12892|      -2|      -7|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        12451|      71|      75|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          12451|        10397|      75|      57|     12451|     Jacksonville|   FL|Jacksonville Inte...|
|        19|        5|     DL|          12953|        10397|      -1|      10|     12953|         New York|   NY|           LaGuardia|
|        19|        5|     DL|          11433|        12953|      -3|     -10|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        14771|      31|      38|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          13204|        10397|       8|      25|     13204|          Orlando|   FL|Orlando Internati...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
only showing top 20 rows

In [36]:
flights_airportDF = flights_df.join(airports_df.select(['airport_id','name']), flights_df.OriginAirportID == airports_df.airport_id)
flights_airportDF.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City In...|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|Portland Internat...|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|Lambert-St. Louis...|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|Cincinnati/Northe...|
|        19|        5|     DL|          10397|        15016|      -1|     -19|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          15016|        10397|       0|      -1|     15016|Lambert-St. Louis...|
|        19|        5|     DL|          10397|        14869|      15|      24|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          10397|        10423|      33|      34|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          11278|        10397|     323|     322|     11278|Ronald Reagan Was...|
|        19|        5|     DL|          14107|        13487|      -7|     -13|     14107|Phoenix Sky Harbo...|
|        19|        5|     DL|          11433|        11298|      22|      41|     11433|Detroit Metro Way...|
|        19|        5|     DL|          11298|        11433|      40|      20|     11298|Dallas/Fort Worth...|
|        19|        5|     DL|          11433|        12892|      -2|      -7|     11433|Detroit Metro Way...|
|        19|        5|     DL|          10397|        12451|      71|      75|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          12451|        10397|      75|      57|     12451|Jacksonville Inte...|
|        19|        5|     DL|          12953|        10397|      -1|      10|     12953|           LaGuardia|
|        19|        5|     DL|          11433|        12953|      -3|     -10|     11433|Detroit Metro Way...|
|        19|        5|     DL|          10397|        14771|      31|      38|     10397|Hartsfield-Jackso...|
|        19|        5|     DL|          13204|        10397|       8|      25|     13204|Orlando Internati...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
only showing top 20 rows

In [37]:
#9 columns to display columns 
flights_airportDF.columns

['DayofMonth',
 'DayOfWeek',
 'Carrier',
 'OriginAirportID',
 'DestAirportID',
 'DepDelay',
 'ArrDelay',
 'airport_id',
 'name']

In [39]:
from pyspark.sql.functions import *
flights_df.select([count(when(isnull(col), col)).alias(col) for col in flights_df.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|   27444|   29033|
+----------+---------+-------+---------------+-------------+--------+--------+

### drop duplicates

In [41]:
# it will drop duplicate records from existing df
flights_df1 = flights_df.dropDuplicates()

In [43]:
c = flights_df1.count()

In [57]:
def perc(a,b):
    p=0
    p=(b.count()-a.count())/b.count()
    return p*100

In [58]:
perc(flights_df1,flights_df)

0.8249927006440348

In [59]:
#10 fillna(): to replace or fill missing columns with nay value here 0
flights_data = flights_airportDF.dropDuplicates().fillna(0, subset=['DepDelay','ArrDelay'])
flights_data.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|        16|        4|     AA|          10140|        11298|      -2|      -7|     10140|Albuquerque Inter...|
|        25|        4|     AA|          10140|        11298|      13|       5|     10140|Albuquerque Inter...|
|        31|        5|     AA|          10140|        11298|      -3|       0|     10140|Albuquerque Inter...|
|        28|        7|     AA|          10140|        11298|      -5|       4|     10140|Albuquerque Inter...|
|        28|        7|     UA|          10140|        12264|      -1|      -9|     10140|Albuquerque Inter...|
|        31|        5|     EV|          10140|        12266|      -5|      -4|     10140|Albuquerque Inter...|
|         6|        1|     B6|          10140|        12478|     -12|      -2|     10140|Albuquerque Inter...|
|         9|        2|     WN|          10140|        12889|       1|      -8|     10140|Albuquerque Inter...|
|        20|        6|     WN|          10140|        12892|     100|      85|     10140|Albuquerque Inter...|
|         6|        6|     WN|          10140|        13204|      -3|      -8|     10140|Albuquerque Inter...|
|         1|        3|     DL|          10140|        13487|      -7|       5|     10140|Albuquerque Inter...|
|        14|        2|     WN|          10140|        13796|       0|     -22|     10140|Albuquerque Inter...|
|         3|        3|     MQ|          10140|        13930|      43|      69|     10140|Albuquerque Inter...|
|         2|        2|     WN|          10140|        14057|      -4|     -14|     10140|Albuquerque Inter...|
|         2|        2|     WN|          10140|        14107|      -2|       6|     10140|Albuquerque Inter...|
|         9|        2|     WN|          10140|        14107|      -2|      -9|     10140|Albuquerque Inter...|
|        18|        4|     WN|          10140|        14107|      88|      77|     10140|Albuquerque Inter...|
|        25|        4|     WN|          10140|        14107|       6|      -5|     10140|Albuquerque Inter...|
|        12|        7|     OO|          10140|        14107|       1|      -7|     10140|Albuquerque Inter...|
|         8|        3|     DL|          10299|        13487|     -10|     -30|     10299|Ted Stevens Ancho...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
only showing top 20 rows

In [69]:
flights_data.select(round(mean(col('DepDelay'))).alias('mean')).show()

+----+
|mean|
+----+
|11.0|
+----+

In [71]:
from pyspark.sql.functions import stddev
flights_data.select(round(stddev(col('DepDelay'))).alias('std_dev')).show()

+-------+
|std_dev|
+-------+
|   36.0|
+-------+

In [76]:
from pyspark.sql.functions import stddev
flights_data.select(round(stddev(col('DepDelay'))).alias('std_dev')).collect()[0][0]

36.0

In [82]:
from pyspark.sql.functions import stddev
flights_data.select(round(stddev(col('DepDelay'))).alias('std_dev')).collect()[0]['std_dev']

36.0

In [83]:
#11 groupBy() and agg()
flights_data.groupBy("Carrier")

In [84]:
flights_data.groupBy("Carrier").agg(mean("DepDelay").alias('Avg Delay')).show()

+-------+------------------+
|Carrier|         Avg Delay|
+-------+------------------+
|     UA| 12.56328450054194|
|     AA|12.047073483091621|
|     EV|14.201382793318832|
|     B6| 12.62300717948718|
|     DL|  7.44057536536854|
|     OO| 7.852680109497053|
|     F9|12.124132527423326|
|     YV| 9.400170648464163|
|     US| 4.982146766542894|
|     MQ|15.197729076913472|
|     HA|1.5346074380165289|
|     AS|0.6593429038281979|
|     FL|10.165958089647582|
|     VX|14.391637389851985|
|     WN|12.860663548314177|
|     9E| 9.546332530604055|
+-------+------------------+

In [87]:
#12 calculate median by using approQuantile and expr
flights_data.approxQuantile('ArrDelay',[0.5],0.001)[0]

-3.0

In [92]:
from pyspark.sql.functions import expr
med_expr = expr(f"percentile_approx({'ArrDelay'},0.5)")
flights_data.agg(med_expr.alias("median")).collect()[0][0]

-3

# SPARK SQL

In [93]:
flights_data.createOrReplaceTempView("flights")  # used to create a temporary table using spark dataframe

In [94]:
spark.sql("select * from flights limit 10").show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+
|        16|        4|     AA|          10140|        11298|      -2|      -7|     10140|Albuquerque Inter...|
|        25|        4|     AA|          10140|        11298|      13|       5|     10140|Albuquerque Inter...|
|        31|        5|     AA|          10140|        11298|      -3|       0|     10140|Albuquerque Inter...|
|        28|        7|     AA|          10140|        11298|      -5|       4|     10140|Albuquerque Inter...|
|        28|        7|     UA|          10140|        12264|      -1|      -9|     10140|Albuquerque Inter...|
|        31|        5|     EV|          10140|        12266|      -5|      -4|     10140|Albuquerque Inter...|
|         6|        1|     B6|          10140|        12478|     -12|      -2|     10140|Albuquerque Inter...|
|         9|        2|     WN|          10140|        12889|       1|      -8|     10140|Albuquerque Inter...|
|        20|        6|     WN|          10140|        12892|     100|      85|     10140|Albuquerque Inter...|
|         6|        6|     WN|          10140|        13204|      -3|      -8|     10140|Albuquerque Inter...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------------+

In [102]:
#1. query to show total count of flights by each carrier in descending order
spark.sql("select Carrier,count(*) as count from flights group by Carrier order by count desc").show()

+-------+------+
|Carrier| count|
+-------+------+
|     WN|575090|
|     DL|381601|
|     AA|288910|
|     UA|286010|
|     US|232955|
|     OO|159639|
|     EV|157218|
|     B6|121875|
|     MQ|112113|
|     FL| 92674|
|     9E| 79728|
|     AS| 68544|
|     YV| 52740|
|     F9| 35736|
|     VX| 34726|
|     HA| 17424|
+-------+------+

In [118]:
#2. query to compute median departure delay for each carrier 
spark.sql("select Carrier, percentile_approx(DepDelay, 0.5) as median from flights where DepDelay > 0 group by Carrier").show()

+-------+------+
|Carrier|median|
+-------+------+
|     UA|    12|
|     AA|    14|
|     EV|    24|
|     B6|    21|
|     DL|    13|
|     OO|    17|
|     F9|    14|
|     YV|    19|
|     US|    12|
|     MQ|    24|
|     HA|     6|
|     AS|     9|
|     FL|    13|
|     VX|    15|
|     WN|    12|
|     9E|    22|
+-------+------+

In [123]:
#3. Find the most busiest airport
spark.sql("""select airport, count(*) as count from (select OriginAirportId as airport from flights union all select DestAirportID as airport from flights) group by airport order by count desc limit 1""").show()

+-------+------+
|airport| count|
+-------+------+
|  10397|296877|
+-------+------+

In [124]:
spark.sql("""
    SELECT airport, COUNT(*) AS count
    FROM (
        SELECT OriginAirportId AS airport FROM flights
        UNION
        SELECT DestAirportID AS airport FROM flights
    ) AS all_airports
    GROUP BY airport
    ORDER BY count DESC
    LIMIT 1
""").show()

+-------+-----+
|airport|count|
+-------+-----+
|  14570|    1|
+-------+-----+